@font-face {
  font-family:Kumbhfont;
  src: url(./fonts/KumbhSansFont.ttf);
}

.App {
  max-width: 100%;
  min-height: 100%;
  margin:0;
  overflow: auto;
  overflow-x: hidden;
  font-family: Kumbhfont;
  font-weight: 400;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  auto auto auto ;
}


 
h5 {
  color:hsl(26, 100%, 55%)
}

p {
  font-size: 16px;
  color:hsl(220, 14%, 75%)
}

.App #App-header {
  display: grid;
  grid-template-columns: auto auto;
  padding:15px;
  max-width: 100%;
  height: 40px; 
  column-gap: auto; 
  align-items:center;
}


.App #App-header #left-grid {
  grid-column: 1/2;
  display: grid;
  width: fit-content;
  height: 100%;
  column-gap: 10px;
  grid-template-columns: auto auto auto;  
  align-items: center; 
  justify-self: flex-start;
}


.App #App-header #right-grid {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  height: 100%;
  align-items: center; 
  column-gap: 10px;
  justify-self: flex-end;
}

.App #App-header  #header-seperator {
  min-width: 100%;
  height: 0.6px;
  display: none;
  grid-column:  1/3;
  background-color: hsl(220, 14%, 75%);
  align-self: flex-end;
}

#item-display-desktop {
  width: 100%;  
  place-items: center;
  height: 80vh;
  display: none;
  margin: 0;
  grid-template-columns: auto auto;
}

#summary-and-add-to-cart {
  width: 60%;
  justify-self: center;
  height: 80%;
  align-self: center;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}


/*
.App .App-header #left-grid #App-logo  {
  grid-column:1 / 1;
  grid-row-end:   1; 
  
}
.App .App-header #left-grid .nav {
  grid-column:2 / 2;
  grid-row-end:  1; 
}

*/



/* desktop responsiveness*/
@media only screen and (min-width: 992px) {
  .App #App-header {
      margin-left:50px;
      margin-right:50px;
      height: 50px;
  }

  .App #App-header  #header-seperator {
      display: grid;
  }
  

  #item-display-mobile {
    display: none;
  } 

  #item-display-desktop {
    display: grid;
    justify-content: center;
  }
}

